name: Deploy to DigitalOcean

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Deploy to DigitalOcean
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.VPS_SSH_KEY }}
          script: |
            # 1. Go to the folder
            cd /var/www/html

            # 2. Fix "Dubious Ownership" error automatically
            git config --global --add safe.directory /var/www/html

            # 3. Force the server to match GitHub (The "Nuclear" Option)
            git fetch --all
            git reset --hard origin/main

            # 4. Clean Install & Build
            npm ci
            npm run build